<div>
    <h2>List movies</h2>
    <mat-table [dataSource]="dataSource">
        <!-- ID -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let movie"> {{ movie.id }} </mat-cell>
        </ng-container>
        <!-- Title -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let movie"> {{ movie.title }} </mat-cell>
        </ng-container>
        <!-- Year -->
        <ng-container matColumnDef="year">
            <mat-header-cell *matHeaderCellDef>
                <div class="header-with-inpupt">
                    <span>Year</span>
                    <span class="input-header">
                        <input matInput [(ngModel)]="filters.year" class="form-field" type="number" placeholder="Filter by year">
                        <mat-icon role="button" (click)="applyFilter()" class="icon-button" aria-label="Search">find_in_page</mat-icon>
                    </span>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let movie"> {{movie.year}} </mat-cell>
        </ng-container>
        <!-- Studio -->
        <ng-container matColumnDef="studios">
            <mat-header-cell *matHeaderCellDef> Studios </mat-header-cell>
            <mat-cell *matCellDef="let movie"> {{ movie.studios }} </mat-cell>
        </ng-container>
        <!-- Producer -->
        <ng-container matColumnDef="producers">
            <mat-header-cell *matHeaderCellDef> Producers </mat-header-cell>
            <mat-cell *matCellDef="let movie"> {{ movie.producers }} </mat-cell>
        </ng-container>
        <!-- Winner -->
        <ng-container matColumnDef="winner">
            <mat-header-cell *matHeaderCellDef>
                <div class="header-with-inpupt">
                    <span>Did it win?</span>
                    <span class="input-header">
                        <select class="form-field" [(ngModel)]="filters.isWinner" (change)="applyFilter()">
                            <option value=undefined>Yes/No</option>
                            <option value=true>Yes</option>
                            <option value=false>No</option>
                        </select>
                    </span>
                </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let movie"> {{movie.winner}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    
    <!-- Paginator -->
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-paginator
        #paginator
        [length]="totalData"
        [pageSizeOptions]="[3, 5, 7]"
        showFirstLastButtons
    ></mat-paginator>
</div>