.title-banner {
  width: 100%;
  height: auto;
  position: relative;
  padding: 16px;
  margin-bottom: 32px;
  background-color: #555;
  color: #fff;
}

.content {
  margin-left: 11%;
}

@media screen and (max-width: 800px) {
  .content {
    margin-left: 0;
  }
}